[user]
  email = cenk@kilic.dev
  name = Cenk Kılıç
  signingkey = ~/.ssh/id_rsa

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[gpg]
  format = ssh

[pull]
  rebase = false

[push]
	autoSetupRemote = true
	default = current

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
  ff = "!git pull --no-edit --ff-only origin \"$(git rev-parse --abbrev-ref HEAD)\""
  root = rev-parse --show-toplevel
  origin = git remote get-url origin

[safe]
  directory = /home/cenk/.config/nvim

[core]
  pager = delta
  attributesfiles = ~/.gitattributes

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  dark = true
  features = decorations
  navigate = true
  line-numbers = true
  zero-style = dim syntax
  diff-highlight = false
  side-by-side = false
  diff-so-fancy = true
  true-color = always
  tabs = 2
  # delta --diff-so-fancy --show-config
  file-added-label = ""
  file-modified-label = ""
  file-removed-label = ""
  file-renamed-label = ""
  right-arrow = " "
  minus-style = syntax auto
  plus-style = syntax auto
  minus-empty-line-marker-style = syntax "#432023"
  plus-empty-line-marker-style = syntax "#2e3a24"
  minus-emph-style = syntax auto
  plus-emph-style = syntax auto
  grep-file-style = blue
  line-numbers-left-style = dim
  line-numbers-right-style = dim
  line-numbers-minus-style = red bold
  line-numbers-plus-style = green bold
  line-numbers-zero-style = dim

[difftool]
  prompt = false

[diff]
  external = difft
  tool = diffview
  context = 5
	colorMoved = dimmed-zebra

[difftool "diffview"]
  cmd = "CK_FLATTEN_HANDLER=gittool DIFFVIEW_GITTOOL_MODE=diff DIFFVIEW_LEFT=\"$LOCAL\" DIFFVIEW_RIGHT=\"$REMOTE\" DIFFVIEW_OUTPUT=\"$MERGED\" nvim -b -n /dev/null \"+lua require('ck.modules.gittool').open_from_gittool()\""

[difftool "nvim"]
cmd = "nvim -b -d \"$LOCAL\" \"$REMOTE\""
# cmd = "nvim -b \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\""

[difftool "batdiff"]
  cmd = "batdiff --paging=never \"$LOCAL\" \"$REMOTE\""

[difftool "delta"]
  cmd = "delta --paging=never \"$LOCAL\" \"$REMOTE\""

[difftool "difft"]
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[merge]
  tool = diffview

[mergetool "diffview"]
  cmd = "CK_FLATTEN_HANDLER=gittool DIFFVIEW_GITTOOL_MODE=merge DIFFVIEW_MERGED=\"$MERGED\" DIFFVIEW_BASE=\"$BASE\" DIFFVIEW_LOCAL=\"$LOCAL\" DIFFVIEW_REMOTE=\"$REMOTE\" nvim -b -n /dev/null \"+lua require('ck.modules.gittool').open_from_gittool()\""
  trustExitCode = false

[mergetool "nvim"]
  cmd = "nvim -b -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[color "status"]
	branch = 4 normal bold
	added = 2 normal bold
	updated = 2 normal bold
	localbranch = 4 normal bold
	changed = 0 3
	header = normal
	remotebranch = 6 normal bold
	nobranch = normal bold
	unmerged = 7 1
	untracked = 8 normal
[color "branch"]
	plain = normal
	remote = 6 normal bold
	current = 4 2
	local = 4 normal bold
	upstream = 6 normal bold
[color "remote"]
	hint = 8 normal
	success = 2 normal bold
	error = 7 1
	warning = 0 3
[color "interactive"]
	header = 8 normal bold
	prompt = 4 2
	help = 8 normal
	error = 7 1
[color "diff"]
	commit = 3 0
	newMoved = 11 0
	oldMovedAlternativeDimmed = 6 0 dim
	frag = 8 normal
	oldMovedAlternative = 6 0
	contextBold = normal bold
	newBold = 10 0 bold
	context = normal
	oldMoved = 3 0
	oldBold = 1 0 bold
	newMovedDimmed = 11 normal
	func = 8 normal
	meta = 8 normal
	newDimmed = 10 normal
	newMovedAlternative = 14 0
	new = 10 0
	newMovedAlternativeDimmed = 11 normal
	whitespace = normal 3
	oldMovedDimmed = 3 0 dim
	oldDimmed = 1 0 dim
	old = 1 0
	contextDimmed = normal dim
[color "decorate"]
	branch = 4 normal bold
	tag = 5 normal bold
	remotebranch = 6 normal bold
	stash = 3 0
	grafted = normal bold
	HEAD = 0 2

[includeIf "gitdir/i:~/development/work/"]
  path = ~/development/work/.gitconfig

[includeIf "gitdir/i:~/development/laravel/"]
  path = ~/development/laravel/.gitconfig

[includeIf "gitdir/i:~/workspaces/"]
  path = ~/workspaces/.gitconfig

[url "git@gitlab.kilic.dev:"]
  insteadOf = https://gitlab.kilic.dev/

[url "git@github.com:laravel"]
  insteadOf = https://github.com/laravel
