[user]
  email = cenk@kilic.dev
  name = Cenk Kılıç
  signingkey = ~/.ssh/id_rsa

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[gpg]
  format = ssh

[pull]
  rebase = false

[push]
	autoSetupRemote = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
  ff = "!git pull --no-edit --ff-only origin \"$(git rev-parse --abbrev-ref HEAD)\""
  root = rev-parse --show-toplevel
  origin = git remote get-url origin

[safe]
  directory = /home/cenk/.config/nvim

[core]
  pager = delta
  attributesfiles = ~/.gitattributes

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  dark = true
  features = decorations
  navigate = true
  line-numbers = true
  zero-style = dim syntax
  diff-highlight = false
  side-by-side = false
  diff-so-fancy = true
  true-color = always
  tabs = 2
  # delta --diff-so-fancy --show-config
  file-added-label = ""
  file-modified-label = ""
  file-removed-label = ""
  file-renamed-label = ""
  right-arrow = " "
  minus-style = syntax auto
  plus-style = syntax auto
  minus-empty-line-marker-style = syntax "#432023"
  plus-empty-line-marker-style = syntax "#2e3a24"
  minus-emph-style = syntax auto
  plus-emph-style = syntax auto
  grep-file-style = blue
  line-numbers-left-style = dim
  line-numbers-right-style = dim
  line-numbers-minus-style = red bold
  line-numbers-plus-style = green bold
  line-numbers-zero-style = dim

[difftool]
  prompt = false

[diff]
  external = difft
  tool = nvim
  context = 5

[difftool "nvim"]
  cmd = "nvim -b -d \"$LOCAL\" \"$REMOTE\""

[difftool "batdiff"]
  cmd = "batdiff --paging=never \"$LOCAL\" \"$REMOTE\""

[difftool "delta"]
  cmd = "delta --paging=never \"$LOCAL\" \"$REMOTE\""

[difftool "difft"]
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[merge]
  tool = nvim

[mergetool "nvim"]
  cmd = "nvim -b -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[color "status"]
  branch = normal
  added = 10 normal
  updated = 10 normal
  localbranch = normal
  changed = 11 normal
  header = normal
  remotebranch = normal
  nobranch = normal bold
  unmerged = 9 normal
  untracked = normal dim
[color "branch"]
  plain = normal
  remote = normal
  current = normal reverse
  local = normal
  upstream = normal
[color "remote"]
  hint = normal dim
  success = 2 normal
  error = 1 normal
  warning = 3 normal
[color "interactive"]
  header = normal dim bold
  prompt = 15 4
  help = normal dim
  error = normal bold
[color "diff"]
  commit = normal
  newMoved = 11 normal
  oldMovedAlternativeDimmed = 4 normal dim
  frag = normal dim
  oldMovedAlternative = 4 normal
  contextBold = normal bold
  newBold = 10 normal bold
  context = normal
  oldMoved = 3 normal
  oldBold = 1 normal bold
  newMovedDimmed = 11 normal dim
  func = normal bold dim
  meta = normal italic
  newDimmed = 10 normal dim
  newMovedAlternative = 12 normal
  new = 10 normal
  newMovedAlternativeDimmed = 12 normal dim
  whitespace = normal 9
  oldMovedDimmed = 3 normal dim
  oldDimmed = 1 normal dim
  old = 1 normal
[color "decorate"]
  branch = normal
  tag = normal
  remotebranch = normal
  stash = normal dim
  grafted = normal bold
  HEAD = normal italic

[includeIf "gitdir/i:~/development/work/"]
  path = ~/development/work/.gitconfig

[includeIf "gitdir/i:~/development/laravel/"]
  path = ~/development/laravel/.gitconfig

[url "ssh://git@gitlab.kilic.dev/"]
  insteadOf = https://gitlab.kilic.dev/
