SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="/usr/bin/systemctl hibernate"

ACTION=="change", KERNEL=="BAT[0-9]", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="[0-9]", \
RUN+="/etc/udev/scripts/wayland-user.sh 'notify-send -u critical -i battery-empty \"Battery\" \"Battery level is CRITICAL at $attr{capacity}%\"'"

ACTION=="change", KERNEL=="BAT[0-9]", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", \
ATTR{capacity}=="1[0-9]", \
RUN+="/etc/udev/scripts/wayland-user.sh 'notify-send -u normal -i battery-caution \"Battery\" \"Battery is getting low at $attr{capacity}%\"'"

ACTION=="change", KERNEL=="BAT[0-9]", \
SUBSYSTEM=="power_supply", \
ATTR{status}=="Charging", \
ATTR{capacity}=="100", \
RUN+="/etc/udev/scripts/wayland-user.sh 'notify-send -u normal -i battery-full-charging \"Battery\" \"Battery is fully charged.\"'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", \
OPTIONS+="last_rule", \
RUN+="/etc/udev/scripts/wayland-user.sh 'notify-send -u low -i battery-missing \"Battery\" \"Charging cable has been unplugged.\"'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on", \
OPTIONS+="last_rule", \
RUN+="/etc/udev/scripts/wayland-user.sh 'notify-send -u low -i battery-full-charging \"Battery status\" \"Charging cable is now plugged.\"'"
