[Unit]
Description=Avizo volume/brightness notification daemon
Documentation=https://github.com/misterdanb/avizo
PartOf=graphical-session.target
After=hyprland-session.target sway-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v avizo-service'
ExecStart=avizo-service
Restart=on-failure
RestartSec=3
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
