[Unit]
Description=Wayland status bar for Hyprland
Documentation=https://malpenzibo.github.io/ashell/
PartOf=graphical-session.target
After=hyprland-session.target
Requisite=hyprland-session.target

[Service]
Type=simple
ExecStart=ashell
Restart=on-failure
RestartSec=3

[Install]
WantedBy=hyprland-session.target
