[Unit]
Description=Clipboard manager with TUI interface
Documentation=https://github.com/savedra1/clipse
PartOf=graphical-session.target
After=hyprland-session.target

[Service]
Type=forking
ExecCondition=/bin/sh -c 'command -v clipse'
ExecStart=clipse -listen
Restart=on-failure
RestartSec=3
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hyprland-session.target
