[Unit]
Description=Automatically rename workspaces based on windows
Documentation=https://github.com/hyprland-community/hyprland-autoname-workspaces
PartOf=graphical-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprland-autoname-workspaces
Restart=on-failure
RestartSec=3

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hyprland-session.target
