[Unit]
Description=Dynamic display configuration for Wayland
Documentation=https://sr.ht/~emersion/kanshi/
PartOf=graphical-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v kanshi'
ExecStart=kanshi
Restart=on-failure
RestartSec=3
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hyprland-session.target
