[Unit]
Description=Autostart XDG applications
Documentation=https://github.com/jceb/dex
PartOf=xdg-desktop-autostart.target
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v dex'
ExecStart=dex -a
RemainAfterExit=yes
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=xdg-desktop-autostart.target
