[Desktop Entry]
Name=Obsidian
Comment=Obsidian
Icon=obsidian
Terminal=false
TryExec=obsidian
Exec=obsidian %U
Type=Application
StartupWMClass=md.obsidian.Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
