[Unit]
Description=Apply sysctl settings from dotfiles
After=home.mount
Requires=home.mount

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/systemd-sysctl /etc/sysctl.d/90-files.conf /etc/sysctl.d/99-ip.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
