[Unit]
Description=Waybar - Highly customizable Wayland bar (generic/unused)
Documentation=https://github.com/Alexays/Waybar
PartOf=graphical-session.target
After=graphical-session.target
Before=xdg-desktop-autostart.target
Requires=dbus.socket

[Service]
Type=simple
# Type=dbus
# BusName=org.kde.StatusNotifierWatcher
ExecCondition=/bin/sh -c 'command -v waybar'
ExecStart=waybar
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal
ExecStartPost=/usr/bin/gdbus wait --session --timeout=15 org.kde.StatusNotifierWatcher

[Install]
WantedBy=graphical-session.target
