[Unit]
Description=Waybar - Highly customizable Wayland bar for %i
Documentation=https://github.com/Alexays/Waybar
PartOf=%i-session.target
After=%i-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v waybar'
ExecStart=waybar -c %h/.config/waybar/%i.jsonc
Restart=on-failure
RestartSec=3
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=%i-session.target
