[Unit]
Description=Waybar - Highly customizable Wayland bar for %i
Documentation=https://github.com/Alexays/Waybar
PartOf=graphical-session.target
After=graphical-session.target
Before=xdg-desktop-autostart.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v waybar'
ExecStart=waybar -c %h/.config/waybar/%i.jsonc
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
