/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@import url('theme.css');
@import '/usr/share/sway/templates/waybar/style.css';

window#waybar {
  background: @bg_color_alpha_400;
}

window > box {
  padding-top: 4px;
  padding-bottom: 4px;
}

window#waybar .modules-center {
  color: @text_color;
  background-color: @bg_color_100;
  padding: 4px;
  font-weight: 700;
  padding-left: 24px;
  padding-right: 24px;
}

window#waybar .modules-left {
  color: @dim_text_color;
  background-color: @bg_color_100;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

window#waybar .modules-right {
  color: @dim_text_color;
  background-color: @bg_color_100;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

#workspaces button {
  color: @dim_text_color;
  border-radius: 24px;
  font-weight: 700;
}

#workspaces button.focused {
  color: @bg_color_100;
  background-color: @primary_color;
  border-top: 2px solid @dim_text_color;
}

#workspaces button.focused:first-child {
  border-radius: 0px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

#custom-scratchpad,
#custom-menu,
#clock {
  border-radius: 24px;
}

#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#custom-notification,
#tray {
  border-radius: 24px;
  background-color: @bg_color_200;
  color: @dim_text_color;
}

#clock {
  background-color: @bg_color_500;
  border-radius: 0px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

#cpu {
  border-radius: 0px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

#memory {
  border-radius: 0px;
}

#temperature {
  border-radius: 0px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

#bluetooth {
  border-radius: 0px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

#network {
  border-radius: 0px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

#custom-notification {
  padding-left: 8px;
  padding-right: 8px;
}

#custom-pacman {
  background-color: @warning_color;
  color: @bg_color_100;
}

#custom-playerctl {
  color: @bg_color_100;
  background-color: #98c379;
}

#custom-scratchpad {
  background-color: @secondary_color;
  color: @bg_color_100;
}

#mode {
  background-color: @bg_color_200;
}

#battery.warning {
  background-color: @warning_color;
  color: @bg_color_100;
}

#battery.critical {
  background-color: @error_color;
  color: @bg_color_100;
}

#cpu.warning {
  background-color: @warning_color;
  color: @bg_color_100;
}

#cpu.critical {
  background-color: @error_color;
  color: @bg_color_100;
}

#memory.warning {
  background-color: @warning_color;
  color: @bg_color_100;
}

#memory.critical {
  background-color: @error_color;
  color: @bg_color_100;
}

#network.disconnected {
  background-color: @error_color;
  color: @bg_color_100;
}

#pulseaudio.muted {
  background-color: @error_color;
  color: @bg_color_100;
}

#temperature.warning {
  background-color: @warning_color;
  color: @bg_color_100;
}

#temperature.critical {
  background-color: @error_color;
  color: @bg_color_100;
}

#bluetooth.disabled {
  background-color: @error_color;
  color: @bg_color_100;
}
