/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@import url('theme.css');
@import '/usr/share/sway/templates/waybar/style.css';

window#waybar {
  background: @transparent_background_color;
}

window > box {
  padding-top: 4px;
  padding-bottom: 4px;
}

window#waybar .modules-center {
  background-color: @background_color;
  border-radius: 24px;
  padding: 4px;
  padding-left: 48px;
  padding-right: 48px;
}

window#waybar .modules-left {
  background-color: @background_color;
  border-radius: 24px;
  padding: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
}

window#waybar .modules-right {
  background-color: @background_color;
  border-radius: 24px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button {
  color: @dim_text_color;
}

#workspaces button.focused {
  color: @background_color;
  /* border-bottom: 8px solid @alternative_color; */
}

#custom-scratchpad,
#custom-menu,
#workspaces button.focused,
#clock {
  border-radius: 24px;
}

#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#custom-notification,
#tray {
  color: @text_color;
  border-radius: 24px;
}

#clock {
  background-color: #5c6370;
}

#custom-notification {
  background-color: @alternative_color;
  color: @theme_bg_color;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-pacman {
  background-color: @warning_color;
  color: @theme_bg_color;
}

#custom-playerctl {
  color: @theme_bg_color;
  background-color: #98c379;
}
