[Unit]
Description=Wayland theme and font configuration
PartOf=graphical-session.target
Before=graphical-session-pre.target graphical-session.target xsettingsd.service xdg-desktop-autostart.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=GTK_CONFIG_SKIP_FC_CACHE=1
ExecStart=gsettings set org.gnome.desktop.interface gtk-theme Graphite-yellow-Dark-compact
ExecStart=%h/.config/wayland/scripts/gtk-config.sh gtk4-theme Graphite-yellow-Dark-compact
ExecStart=gsettings set org.gnome.desktop.interface icon-theme Tela-yellow-dark
ExecStart=gsettings set org.gnome.desktop.interface cursor-theme Breeze_Light
ExecStart=gsettings set org.gnome.desktop.interface font-name "Segoe UI 12"
ExecStart=gsettings set org.gnome.desktop.interface monospace-font-name "ConsolasLG Nerd Font 16"
ExecStart=gsettings set org.gnome.desktop.interface font-antialiasing rgba
ExecStart=gsettings set org.gnome.desktop.interface font-rgba-order rgb
ExecStart=%h/.config/wayland/scripts/gtk-config.sh font monospace "ConsolasLG Nerd Font 16"
ExecStart=%h/.config/wayland/scripts/gtk-config.sh font sans-serif "Segoe UI 12"
ExecStart=gsettings set org.gnome.desktop.input-sources show-all-sources true
ExecStart=gsettings set org.gnome.desktop.interface color-scheme prefer-dark
ExecStart=gsettings set org.gnome.desktop.interface gtk-key-theme Default
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session-pre.target
