[Unit]
Description=norsu.thor.arpa rock
After=network-online.target
Wants=network-online.target

[Mount]
What=//norsu.thor.arpa/rock
Where=/mnt/norsu/rock
Type=cifs
Options=rw,relatime,vers=3.0,credentials=/mnt/.norsu,uid=1000,gid=1000,iocharset=utf8,rsize=65536,wsize=65536,mfsymlinks,cache=strict,noserverino
