[Unit]
Description=Power alert daemon with custom flags
Documentation=https://github.com/aformatik/poweralertd
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c 'command -v poweralertd'
ExecStart=poweralertd -s -i "line power"
Restart=on-failure
RestartSec=3
# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
